/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  height: 100%; 
}

.App {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: fit-content;
  width: 1000px; 
  padding: 20px;
}

.page-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


@media (max-width: 600px) {
  .App{
    margin-top: 150px;
    width: 100%;
    padding: 0;
  }

  .page-content{
    width: 100%;
    align-self: center;
    padding: 0;

  }
}

