
/* Style the overall container */
.admin {
    font-family: Arial, sans-serif;
    align-self: center;
}

/* Style the heading */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 5px;
}

/* Style the unordered list */
.list {
    margin-left: 20px;
}

/* Style each list item */
li {
    margin: 5px 0;
}

/* Style the buttons */
.list button {
    background-color: transparent;
    color: black;
    padding: 5px 0;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Change button color on hover */
.list button:hover {
    background-color: transparent;
    text-decoration: underline;
}

.submit{
    background-color: #007bff;
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    font-weight: bold;
}

.submit:hover{
    text-decoration: none;
    background-color: #3498db;
}

h4 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

/* Blur effect for background when a modal is open */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    filter: blur(2px);
    z-index: 1;
    pointer-events: none;
}

/* Modal form styling */
.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: fit-content;
    transition: opacity 0.3s ease;
    margin-top: 10px;
    width: fit-content;
}

