/* Header Styles */
.header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 10; 
  }
  
  .header .logo h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ecf0f1;
    margin: 0;
  }
  
  /* Header Details (Links and Buttons) */
  .header-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;
  }
  
  /* Links and Navigation */
  .links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #e74c3c; 
  }
  
  /* Cart and Sign Up Button Styles */
  .cart-signup {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    width: 40px;
    font-size: 25px;
  }
  
  .cart-number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #e74c3c;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-btn {
    background-color: #e74c3c;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #c0392b; 
  }
  
  /* padding to the top of the content to prevent it from hiding under  header */
  .page-content {
    padding-top: 80px; 
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .header-details {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  
    .links {
      flex-direction: row;
    }
  
    .cart-signup {
      justify-content: flex-start;
      width: 100%;
      margin-top: 10px;
    }
  }
  